# See https://help.github.com/ignore-files/ for more about ignoring files.
.content
db/
# dependencies
/node_modules
server/node_modules
retired_manifests/

# testing
/coverage

# production
/server/build
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
